In [1]:
a=100

In [2]:
# Declaring and assigning variable
age=22
height=5.2
name ="Ayush"
is_student=True
# print variable
print("age : ",age)
print("Height : ",height)
print("Name : ",name)

age :  22
Height :  5.2
Name :  Ayush

In [3]:
first_name="Krish"
last_name="Kumar"

In [4]:
## python is dynamically typed , type of variable is determined at the runtime
age=23
height=5.3
name="Ayush"
is_student=True
print(type(name))

<class 'str'>

In [5]:
age=24
print(type(age))

# Type Conversion
age_str=str(age)
print(age_str)
print(type(age_str))

<class 'int'>
24
<class 'str'>

In [6]:
age='25'
print(type(int(age)))

<class 'int'>

In [7]:
name="Krish"
int(name)

ValueError: invalid literal for int() with base 10: 'Krish'

In [10]:
height=5.11
print(type(height))
int(height)
print(type(height))

<class 'float'>
<class 'float'>

❗ Issue:
You're calling int(height) but not assigning it back to any variable.

int(height) creates an integer version of the value but doesn’t change height itself. So height remains a float.

In [13]:
height=5.11
print(type(height))
x=int(height)
print(type(x))
print(type(int(height)))

<class 'float'>
<class 'int'>
<class 'int'>

In [2]:
# Integerse example
# floating point data type 
height=2.2
print(height)
print(type(height))

2.2
<class 'float'>

In [3]:
# string dattype example
name="Ayush"
print(type(name))

<class 'str'>

In [4]:
# boolean type
is_true=True
print(type(is_true))

<class 'bool'>

In [5]:
bool()

False

In [6]:
# common error
result="hello"+5

TypeError: can only concatenate str (not "int") to str

In [7]:
result="hello"+str(5)
print(result)

hello5

#### List Comprehension
Basic syantax           [expression for item in iterable]

with conditional logic   [expresssion for item in iterable if condition ]
 
Nested List Comprehension  [expression for item1 in iterable for item2 in interable]

[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [1, 'e'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [2, 'e'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [3, 'e'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd'], [4, 'e']]